* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;   
  align-items: center;       
  flex-direction: column;    
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px 13px 20px; 
  background-color: white;
}

.contact-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 8px 0; 
}

.info-group {
  display: flex;
  align-items: center;
  margin-top: 5px; 
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin: 3px 0;
  font-size: 12px;
  color: #2B283A;
}

